@charset "UTF-8";
/* sass-intro
*
* /sass/styles.scss - Main stylesheet
* by Gabriel
*/
/*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */
/*
 * /sass/settings/_fonts.scss - Global fonts variables
 * by Gabriel!
 */
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("../assets/fonts/ionicons/ionicons.eot?v=2.0.0");
  src: url("../assets/fonts/ionicons/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../assets/fonts/ionicons/ionicons.ttf?v=2.0.0") format("truetype"), url("../assets/fonts/ionicons/ionicons.woff?v=2.0.0") format("woff"), url("../assets/fonts/ionicons/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glyphs';
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../assets/fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../assets/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arvo-Bold';
  src: url("../assets/fonts/arvo/Arvo-Bold.eot");
  src: url("../assets/fonts/arvo/Arvo-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/arvo/Arvo-Bold.woff") format("woff"), url("../assets/fonts/arvo/Arvo-Bold.ttf") format("truetype"), url("../assets/fonts/arvo/Arvo-Bold.svg#Arvo-Bold") format("svg"); }

@font-face {
  font-family: 'Arvo';
  src: url("../assets/fonts/arvo/Arvo-Regular.eot");
  src: url("../assets/fonts/arvo/Arvo-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/arvo/Arvo-Regular.woff") format("woff"), url("../assets/fonts/arvo/Arvo-Regular.ttf") format("truetype"), url("../assets/fonts/arvo/Arvo-Regular.svg#Arvo") format("svg"); }

.fontpro, .fontpro-35678 {
  font-family: 'Arvo',sans-serif; }

/* sass-intro
 *
 * /sass/settings/_size.scss - Global size variables
 * by Gabriel
 */
/*
 * /sass/generic/_reset.scss - Reset styles
 * by Gabriel
 */
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*wrapper*/
body {
  font-family: Arimo, "Helvetica neue", "Helvetica", sans-serif; }

a {
  color: #2D8565; }

.wrapper {
  background-color: #292929;
  line-height: 1.5; }
  .wrapper--light-bg {
    background-color: #EAEAEA; }
  .wrapper--dark-bg {
    background-color: #27384D; }

header {
  background-color: #27384D; }

nav {
  background-color: #27384D;
  margin: 0 auto;
  max-width: 940px;
  min-height: 70px;
  padding: 20px; }

.logo {
  display: inline-block; }

.main-nav__list {
  float: right; }

.main-nav__elt {
  display: inline-block; }

.main-nav__link {
  color: white;
  font-size: 19px;
  padding: 10px;
  text-decoration: none;
  margin-left: 5px;
  line-height: 2; }
  .main-nav__link:hover {
    color: #2D8565; }
  .main-nav__link::before {
    font-family: "Ionicons";
    margin-right: 5px; }
  .main-nav__link--icon-home::before {
    content: ""; }
  .main-nav__link--icon-projects::before {
    content: ""; }
  .main-nav__link--icon-about::before {
    content: ""; }
  .main-nav__link--icon-contact::before {
    content: ""; }

/*.media {
    //background-color: #f7edda;
    background: url("../img/work-wall.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    max-width: 100%;
    min-height: 330px;
}*/
.phrase {
  display: block;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  min-height: auto;
  padding-bottom: 100px;
  padding-top: 120px; }
  .phrase__content {
    color: white;
    display: block;
    font-family: Arimo;
    font-size: 37px;
    font-weight: bold;
    max-width: 330px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.bouton__callout {
  background-color: #ff4e50;
  border-radius: 74px;
  color: white;
  font-size: 1.1em;
  margin: 50px 0;
  padding: 15px 20px;
  text-decoration: none; }
  .bouton__callout:hover {
    background-color: #cf4445; }

.about {
  color: white; }
  .about__wrapper {
    display: inline-block;
    width: 100%; }
  .about__name {
    background-color: #2D8565;
    display: block;
    font-family: Arimo;
    font-size: 31px;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center; }
  .about__article {
    display: block;
    margin: 80px auto;
    max-width: 910px;
    overflow: hidden;
    padding: 25px; }
  .about__title {
    color: #4a4a4a;
    font-family: Lobster;
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 15px;
    margin-left: 220px;
    margin-top: 20px; }
  .about__heading {
    background-image: url("../img/triangel_green.png");
    background-repeat: no-repeat;
    color: white;
    display: block;
    font-family: lobster;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 4px;
    line-height: 5;
    margin: -30px auto -230px;
    max-width: 400px;
    min-height: 254px;
    text-align: center; }
  .about__figure {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    float: right;
    margin-right: -190px; }
    .about__figure img {
      display: block; }
  .about p {
    float: right;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 413px; }
  .about__tools {
    background-color: #eee;
    border-top: 1px solid #bbb;
    display: block;
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 230px;
    width: 100%; }
    .about__tools--penp-icon::before {
      content: "";
      font-family: "Ionicons"; }
    .about__tools--sketch-icon::before {
      content: "";
      font-family: "Glyphs"; }
    .about__tools--atom-icon::before {
      content: "";
      font-family: "Icomoon"; }
    .about__tools--sass-icon::before {
      content: "";
      font-family: "Ionicons"; }
    .about__tools--wordprs-icon::before {
      content: "";
      font-family: "Ionicons"; }
    .about__tools-heading {
      color: #4a4a4a;
      font-family: Lobster;
      font-size: 20px;
      font-weight: normal;
      margin-top: 20px; }
    .about__tools a {
      color: #4a4a4a;
      display: inline-block;
      font-size: 12px;
      margin-right: 30px;
      text-decoration: none; }
      .about__tools a::before {
        color: #2D8565;
        display: block;
        font-size: 40px;
        text-align: center; }
  .about__container {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    color: #4a4a4a;
    float: right;
    margin: 67px 0 0;
    max-width: 667px;
    min-height: 290px; }

.projects {
  position: relative; }
  .projects__heading {
    background-image: url("../img/triangel_green.png");
    background-repeat: no-repeat;
    color: white;
    font-family: lobster;
    font-size: 40px;
    font-weight: 200;
    left: 50%;
    letter-spacing: 4px;
    line-height: 5;
    margin-left: -200px;
    margin-top: -40px;
    min-height: 255px;
    position: absolute;
    text-align: center;
    width: 400px;
    z-index: 4; }
  .projects__wrapper {
    display: inline-block;
    width: 100%; }
    .projects__wrapper--triangle-one {
      background-image: url("../img/triangle_blue_left.png"), url("../img/triangle_red_right.png");
      background-position: 10% 80%, 85% 10%;
      background-repeat: no-repeat;
      background-origin: content-box; }
    .projects__wrapper--triangle-two {
      background-image: url("../img/triangle_yellow_left.png"), url("../img/triangle_green_right.png");
      background-position: 15% 10%, 95% 80%;
      background-repeat: no-repeat; }

.project__figure {
  display: inline-block;
  float: right;
  margin-right: -10px; }
  .project__figure--to-left {
    float: none;
    margin-left: -10px; }
  .project__figure--dark-bg {
    background-color: red; }

.project__figure img {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6); }

.project__article {
  display: block;
  height: 100%;
  margin: 100px auto;
  max-width: 910px;
  overflow: hidden;
  padding: 25px;
  position: relative;
  z-index: 10; }

.project__container {
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 470px;
  padding: 30px 35px;
  min-height: 290px; }
  .project__container--to-left {
    float: left; }

.project__description {
  font-family: arimo;
  font-size: 16px;
  line-height: 1.5;
  width: 400px; }

.project__links {
  display: inline-block;
  margin-top: 30px; }

.project__link-github {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 24px;
  color: #333;
  font-size: 1.2em;
  height: 40px;
  margin-right: 30px;
  padding: 12px 15px 8px;
  text-decoration: none;
  width: 140px; }

.project__link-github:hover, .project__link-github:focus {
  background-color: #c3c3c3; }

.project__link-github::before {
  font-family: "Glyphs";
  content: " ";
  font-size: 24px; }

.project__link-live {
  background-color: #ff4e50;
  border-radius: 24px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 400;
  padding: 12px 15px 8px;
  text-decoration: none; }

.project__link-live:hover {
  background-color: #cf4445; }

.project__link-live::before {
  font-family: "Ionicons";
  content: " ";
  font-size: 24px; }

.project__heading {
  display: inline-block;
  font-family: lobster;
  font-size: 1.875em;
  margin-bottom: 20px; }
  .project__heading a {
    color: #4a4a4a;
    text-decoration: none; }

.project img {
  box-shadow: 0 0 4px 1px #232323;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px; }

.contact__wrapper {
  display: inline-block;
  width: 100%; }

.contact__heading {
  background-image: url("../img/triangle_green_about.png");
  background-repeat: no-repeat;
  font-family: lobster;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 5;
  margin-top: -150px;
  min-height: 205px;
  position: absolute;
  text-align: center;
  width: 360px; }

.contact__article {
  color: #4a4a4a;
  display: block;
  margin: 80px auto;
  max-width: 910px;
  overflow: hidden;
  padding: 25px; }

.contact p {
  margin-bottom: 20px;
  margin-right: 30px;
  margin-top: 60px; }

.contact__container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  color: #0c0c0c;
  min-height: 420px;
  min-width: 100%;
  padding: 40px 30px; }

.form__label {
  color: white;
  display: block;
  margin-top: 20px; }

.form__input {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
  color: #4a4a4a;
  font-family: Arimo;
  font-size: 0.9em;
  margin-top: 15px;
  min-height: 40px;
  padding: 2px 10px;
  width: 260px; }
  .form__input:focus {
    border: 3px solid #2baabc; }

.form__nom {
  display: inline-block;
  float: left; }

.form__email {
  display: inline-block;
  clear: left;
  float: left; }

.form__message {
  display: inline-block;
  margin-left: 100px; }

.form__textarea {
  border: 3px solid transparent;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
  color: #4a4a4a;
  font-family: Arimo;
  font-size: 0.9em;
  line-height: 1.5;
  margin-top: 15px;
  min-height: 175px;
  padding: 12px;
  resize: none;
  width: 440px; }
  .form__textarea:focus {
    border: 3px solid #2baabc; }

.form__button {
  display: inline-block;
  float: right; }

.form__submit {
  background-color: #ff4e50;
  border: medium none;
  border-radius: 50px;
  color: white;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 20px;
  padding: 7px 10px; }
  .form__submit:hover {
    background-color: #cf4445; }

.wpcf7-not-valid-tip {
  color: #ed7e80;
  display: block;
  margin-top: 5px; }

.wpcf7-not-valid {
  border: 3px solid;
  color: #ed7e80; }

.screen-reader-response, .wpcf7-validation-errors {
  color: #ed7e80; }

/*# sourceMappingURL=styles.css.map */