 /*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */


//backgroundColors
$backgroundColorDark: #27384D;
$backgroundColorLight: #EAEAEA;
$backgroundColorName: #2D8565;


//Text color
$textLink: $backgroundColorName;
$textColor: #4a4a4a;

//buttons
$buttonBcgColor: #ff4e50;
$buttonHoverColor: #cf4445;

//errors
$errorColor: #ed7e80;
